<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal Site" />
    <meta http-equiv="Cache-control" content="max-age=604800" />
    <link rel="preconnect" href="https://phothin.dev/" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net/" />
    <link rel="preload" href="/assets/css/styles.css" as="style" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/assets/images/kadown.min.svg"
      type="image/svg+xml"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/assets/icons/site.webmanifest" />
    {% feed_meta %} {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <main>{{ content }}</main>
    {% include footer.html %} {% include top-btn.html %}
    <script src="/assets/js/ptm.js"></script>
  </body>
</html>
