<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal Site" />
    <meta http-equiv="Cache-control" content="max-age=604800" />
    <link
      rel="preload"
      href="/assets/css/fonts/tabler-icons-outline.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/css/fonts/tabler-icons-outline.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link rel="preload" href="/assets/css/styles.css" as="style" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    {% feed_meta %} {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <main>{{ content }}</main>
    {% include footer.html %} {% include top-btn.html %}
    <script src="/assets/js/ptm.js"></script>
  </body>
</html>
