---
---

/* Basic  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
html {
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--ptm-font-sans);
  background: var(--ptm-bg);
  color: var(--ptm-color-text);
  font-size: clamp(1rem, calc(1rem + 0vw), 1rem);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  margin: 0;
}

main {
  background: var(--ptm-bg);
  display: block;
  max-width: var(--ptm-max-width);
  margin: 0 auto;
  padding: var(--ptm-padding);
}

/* 
3. Typography

*/
address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  margin: 1.12em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0.875rem;
}
h1,
h2,
h3 {
  padding-bottom: 5px;
  margin-bottom: 8px;
}
h4,
h5,
h6 {
  margin-bottom: 0.3rem;
}
h1 {
  font-size: clamp(1.66rem, calc(1.43rem + 1.14vw), 2.28rem);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: var(--ptm-color-h1234);
}
h2 {
  font-size: clamp(1.4rem, calc(1.28rem + 0.61vw), 1.73rem);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: var(--ptm-color-h1234);
}
h3 {
  font-size: clamp(1.29rem, calc(1.2rem + 0.41vw), 1.51rem);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.025rem;
  color: var(--ptm-color-h1234);
}
h4 {
  font-size: clamp(1.18rem, calc(1.13rem + 0.24vw), 1.32rem);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.025rem;
  color: var(--ptm-color-h1234);
}
h5 {
  font-size: clamp(1.13rem, calc(1.1rem + 0.17vw), 1.23rem);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03rem;
}
h6 {
  font-size: clamp(1.09rem, calc(1.07rem + 0.11vw), 1.15rem);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  color: var(--ptm-color-h56);
}
p {
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03rem;
  color: var(--ptm-color-h56);
}
/* Lists */
ul,
ol,
dl {
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul ul {
  list-style-type: circle;
  margin-top: 0;
}

ol ol {
  list-style-type: lower-latin;
  margin-top: 0;
}
ol ul {
  list-style-type: circle;
  margin-top: 0;
}

li {
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
  font-weight: 400;
  line-height: 1.5;
  margin-left: 1.2em;
}
ol li:not(:last-child) {
  margin-bottom: 7px;
}
dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5em 0.8em;
}
/* Code Group */
code,
pre,
kbd,
samp {
  font-family: var(--ptm-font-mono);
}
code,
samp,
kbd,
pre {
  padding: 3px 6px;
  font-size: calc(clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem) * 0.9);
}

kbd {
  /* Makes the kbd element look like a keyboard key */
  border-bottom: 3px solid var(--ptm-color-border);
}
/* Anchor and image */
img {
  max-inline-size: 100%;
  block-size: auto;
}
a {
  color: var(--ptm-color-anchor);
  background: transparent;
  text-decoration: none;
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
  font-weight: 600;
}

a:active {
  outline: none;
}
a:hover,
a:focus {
  color: var(--ptm-color-anchor-hover);
  text-decoration: none;
}
a:has(img):hover {
  background-color: transparent;
}
a:has(img):hover img {
  opacity: 0.7;
}
p a {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 400;
  color: var(--ptm-color-primary);
}
b,
strong {
  font-weight: bolder;
}
hr {
  height: 0;
  box-sizing: content-box;
  overflow: visible;
}
/* section container */
.container {
  max-width: var(--ptm-max-width);
  margin: 0 auto;
  padding: 0 20px;
}
.section {
  padding: 80px 0;
}

.section-title-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title-container .view-all {
  position: relative;
}
.section-title-container .view-all::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--ptm-color-primary);
  transition: var(--ptm-transition);
}
.section-title-container .view-all:hover::after {
  width: 100%;
}
.section-title {
  margin-bottom: 50px;
  color: var(--ptm-color-h1234);
  font-family: var(--ptm-font-orb);
}

@media (max-width: 768px) {
  .section-title-container {
    min-height: 100px;
    height: auto;
    align-items: center;
  }

  .section-title-container .section-title {
    margin-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .section-title-container {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
}

/* badge container*/

.badge {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 7px;
}
.badge a {
  text-decoration: none;
  color: var(--ptm-color-h1234);
  cursor: pointer;
}
.badge a:hover {
  color: var(--ptm-color-anchor-hover);
}
