---
layout: default
title: Projects
---

<section id="projects" class="section">
  <div class="container">
    <h2 class="section-title">Projects</h2>
    <div class="card-container" id="pel">
      {% for project in site.data.projects %}
      <div class="card">
        <div class="card-image">
          <img src="{{ project.image}}" alt="{{ project.title }}" />
        </div>
        <div class="card-info">
          <h3>{{ project.title }}</h3>
          <div class="description">
            <p>{{project.summary}}</p>
          </div>
          <div class="badge">
            <a
              href="{{ project.github }}"
              aria-label="dependensia-github"
              target="_blank"
              rel="noopener"
            >
              <img
                alt="Static Badge"
                src="https://img.shields.io/badge/SourceCode-gray?style=flat&logo=github"
                width="97"
                height="20"
              />
            </a>
            {% if project.npm %}
            <a
              href="{{ project.npm }}"
              aria-label="dependensia-npm"
              target="_blank"
              rel="noopener"
            >
              <img
                alt="Static Badge"
                src="https://img.shields.io/badge/npm-package-red?style=flat&logo=npm"
                width="107"
                height="20"
              />
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
