<h3>About</h3>
<div class="box">
  <p class="about-text">
    <strong>Hello</strong>, I am <strong>Pho Thin Maung</strong> , a programming
    enthusiast. These pages are just notes I have written down from what I have
    learned.
  </p>
  <p>Reach me on:</p>
  <div class="badge">
    <a
      href="https://github.com/phothinmg"
      target="_blank"
      rel="noopener noreferrer"
      title="Github Profile"
      ><i class="github"></i
    ></a>
    <a href="mailto:phothinmg@lwe8.net" class="mail" title="Mail To Me"
      ><i class="mail"></i
    ></a>
  </div>
</div>
