<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Cache-control" content="max-age=604800" />
<!--  ------------- LOAD GLOBAL CSS ------------------------ -->
<!-- 
Order is important here.
 -->
<!-- 1. fonts css -->
<link rel="preload" href="/assets/css/fonts.css" as="style" />
<link rel="stylesheet" href="/assets/css/fonts.css" />
<!-- 2. root css definitions -->
<link rel="preload" href="/assets/css/root.css" as="style" />
<link rel="stylesheet" href="/assets/css/root.css" />
<!-- 3. tabler icons -->
<link rel="preload" href="/assets/css/icons.css" as="style" />
<link rel="stylesheet" href="/assets/css/icons.css" />
<!-- 4. typography  -->
<link rel="preload" href="/assets/css/typography.css" as="style" />
<link rel="stylesheet" href="/assets/css/typography.css" />
<!-- global css -->
<link rel="preload" href="/assets/css/styles.css" as="style" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<!--  ------------- END GLOBAL CSS ------------------------ -->
