<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Cache-control" content="max-age=604800" />

<link rel="preload" href="/css/fonts/fonts.css" as="style" />
<link rel="stylesheet" href="/css/fonts/fonts.css" />
<link rel="preload" href="/css/index.css" as="style" />
<link rel="stylesheet" href="/css/index.css" />

<link
  rel="icon"
  type="image/png"
  href="/assets/favicon/android-chrome-512x512.png"
  sizes="512x512"
/>
<link
  rel="icon"
  type="image/png"
  href="/assets/favicon/android-chrome-192x192.png"
  sizes="192x192"
/>
<!-- <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" /> -->
<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/assets/favicon/site.webmanifest" />

<!-- MathJax -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      displayMath: [
        ["$$", "$$"],
        ["\\[", "\\]"],
      ],
    },
  };
</script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
></script>
