<section id="projects" class="section">
  <div class="container">
    <div class="section-title-container">
      <h2 class="section-title">Projects</h2>
      <a href="/projects" class="view-all" title="view-all-projects"
        >View All</a
      >
    </div>
    <div class="project-container" id="pel">
      {% for project in site.data.projects limit:3 %}
      <div class="project-card">
        <div class="project-info">
          <h3>{{ project.title }}</h3>
          <div class="summary">
            <p>{{project.summary}}</p>
          </div>
          <div class="badge">
            <a
              href="{{ project.github }}"
              aria-label="{{ project.title }}"
              target="_blank"
              rel="noopener"
            >
              <img
                alt="Static Badge"
                src="https://img.shields.io/badge/github-repo-blue?style=for-the-badge&logo=github"
                fetchpriority="high"
                width="120"
                height="50"
              />
            </a>

            {% if project.npm %}
            <a
              href="{{ project.npm }}"
              aria-label="{{ project.title }}"
              target="_blank"
              rel="noopener"
            >
              <img
                alt="Static Badge"
                src="https://img.shields.io/badge/npm-package-red?style=for-the-badge&logo=npm"
                fetchpriority="high"
                width="120"
                height="50"
              />
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
