---
---

.MathJax {
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
}

div.markdown {
  padding: 18px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 18px;
}
div.markdown div.markdown-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: var(--ptm-bg2);
}

div.markdown div.markdown-head h3 {
  padding-top: 7px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
div.markdown div.markdown-head p {
  font-family: "Courier New", Courier, monospace;
  color: var(--ptm-color-h1234);
  font-weight: 700;
}
div.markdown div.markdown-body h3 {
  font-variant: small-caps;
  padding-bottom: 5px;
  max-width: fit-content;
  border-bottom: var(--ptm-border);
}
div.markdown div.markdown-body h4 {
  font-variant: small-caps;
  padding-bottom: 5px;
  max-width: fit-content;
  border-bottom: var(--ptm-border);
}
div.markdown div.markdown-body p {
  margin: 1.12em auto;
  max-width: 95%;
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
}
div.markdown div.markdown-body p .MathJax {
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
}

/* -------------------------------------------- blockquote -------------------- */

div.markdown div.markdown-body blockquote {
  padding: 1.5rem;
  background: var(--ptm-bg2);
  border-left: 5px solid var(--ptm-color-border);
  margin: 1.12em auto;
  max-width: 95%;
}

div.markdown div.markdown-body blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
div.markdown div.markdown-body blockquote p {
  font-style: italic;
  color: var(--ptm-color-h1234);
}

a.project-title {
  font-size: clamp(1.29rem, calc(1.2rem + 0.41vw), 1.51rem);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.025rem;
  color: var(--ptm-color-anchor);
}
