---
---

@font-face {
  font-family: "tabler-icons";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(./fonts/tabler-icons-outline.woff2) format("woff2"),
    url(./fonts/tabler-icons-outline.woff) format("woff");
}

:root {
  /* fonts */
  --ptm-font-sans: "Noto Sans Myanmar", "Poppins", sans-serif;
  --ptm-font-mono: "Ubuntu Mono", monospace;
  --ptm-font-tabler: "tabler-icons";
  --ptm-font-orb: "Orbitron", sans-serif;
  --ptm-font-c1: "Concert One", sans-serif;
}
:root {
  --ptm-light-png: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NgYODjBWJWKOZgQOKwQDAKByLAgSTACQAp6QE8mK8aTgAAAABJRU5ErkJggg==);
  --ptm-dark-png: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAAKklEQVR4AWNgYIgzBEMGEGSAMqA0mIq2jgbSWGXR9MJhpFOkE0MkDIK5AEjQFP2LwcU5AAAAAElFTkSuQmCC);
}
:root {
  /* background */
  --ptm-bg: var(--ptm-light-png) #ffffff;
  --ptm-bg2: var(--ptm-light-png) #fafafa;
  --ptm-bg-inline-code: var(--ptm-light-png) #eeeeee;
  /* text */
  --ptm-color-text: #333333;
  --ptm-color-h1234: #555555;
  --ptm-color-h56: #444444;
  --ptm-color-header: #055dbb;
  /* Anchor */
  --ptm-color-anchor: #0050ef;
  --ptm-color-anchor-hover: #ce3500;
  /* border */
  --ptm-color-border: #ededed;
  --ptm-border: 1px solid #cccccc;
  /* Box Color */
  --ptm-color-info: #f4f4f4;
  --ptm-color-success: #88cc88;
  --ptm-color-warning: #cccc88;
  --ptm-color-error: #cc8888;
  --ptm-color-primary: #0d6efd;
  /* Box Shadow*/
  --ptm-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.dark,
*[data-theme="dark"] {
  /* background */
  --ptm-bg: var(--ptm-dark-png) #000000;
  --ptm-bg2: var(--ptm-dark-png) #0a0a01;
  --ptm-bg-inline-code: var(--ptm-dark-png) #121212;
  /* text */
  --ptm-color-text: #cccccc;
  --ptm-color-h1234: #ababab;
  --ptm-color-h56: #bababa;
  --ptm-color-header: #4c9bf0;
  /* Anchor */
  --ptm-color-anchor: #71b4eb;
  --ptm-color-anchor-hover: #ff9800;
  /* border */
  --ptm-color-border: #1a1a1a;
  --ptm-border: 1px solid #333333;
  /* Box Color */
  --ptm-color-info: #f4f4f4;
  --ptm-color-success: #367236;
  --ptm-color-warning: #727236;
  --ptm-color-error: #723636;
  --ptm-color-primary: #6294e0;
  /* Box Shadow*/
  --ptm-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

:root {
  /* Others Def */
  --ptm-max-width: 70rem;
  --ptm-padding: clamp(1.6rem, 2vw, 3rem);
  --ptm-transition: all 0.3s ease;
}
/* ------------------------------------------------------------------------------------------------- */
/* Basic  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
html {
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--ptm-font-sans);
  background: var(--ptm-bg);
  color: var(--ptm-color-text);
  font-size: clamp(1rem, calc(1rem + 0vw), 1rem);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  margin: 0;
}
