---
---

/*  --------------------------------- Layout Components -------------------------------------- */
/* Main */
main {
  background: var(--ptm-bg);
  display: block;
  max-width: var(--ptm-max-width);
  margin: 0 auto;
  padding: var(--ptm-padding);
}
/* Nav Bar */
header {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  top: 0;
  z-index: 100;
  background: var(--ptm-bg2);
  border-bottom: var(--ptm-border);
}
header nav {
  margin: 0 auto;
  max-width: var(--ptm-max-width);
  padding: 0 var(--ptm-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--ptm-bg2);
}
header nav a.logo {
  font-size: clamp(1.25rem, 1.0089rem + 1.1215vw, 1.85rem);
  font-weight: 700;
  font-variant: small-caps;
  text-decoration: none;
  color: var(--ptm-color-h1234);
  font-family: var(--ptm-font-orb);
}
header nav a.logo:hover {
  color: var(--ptm-color-anchor-hover);
  filter: brightness(92%);
}
header nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
}
header nav div a {
  text-decoration: none;
  font-size: clamp(0.85rem, 0.7897rem + 0.2804vw, 1rem);
  font-weight: 700;
  color: var(--ptm-color-h1234);
  font-family: var(--ptm-font-c1);
}
@media (max-width: 40rem) {
  header nav {
    flex-direction: column;
    justify-content: center;
    row-gap: 18px;
  }
}
/* Footer */
footer {
  background: var(--ptm-bg2);
  text-align: center;
  font-family: var(--ptm-font-mono);
  color: var(--ptm-color-h1234);
  padding: 18px;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
footer span:first-child {
  margin-right: 18px;
}
/*  --------------------------------- Layout Components End -------------------------------------- */
/* ----------------------------------- Typography ---------------------------------------------*/

/* ----------------------------------- Typography End ---------------------------------------------*/

/* ------------------------------ Aux Components ------------------------------------------------------------- */
/* Box */
.box {
  padding: 18px var(--ptm-padding);
  margin: 0 0 1.5em 0;
  border: 1px solid var(--ptm-color-border);
  border-radius: 5px;
  background: var(--ptm-bg);
}
.box > *:last-child {
  margin-bottom: 0;
}
.box.info {
  border: 2px solid var(--ptm-color-info);
  border-radius: 10px;
}

.box.success {
  border: 2px solid var(--ptm-color-success);
  border-radius: 10px;
}
.box.warning {
  border: 2px solid var(--ptm-color-warning);
  border-radius: 10px;
}

.box.error {
  border: 2px solid var(--ptm-color-error);
  border-radius: 10px;
}
.box div.badge {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 7px;
}
.box div.badge a {
  text-decoration: none;
  color: var(--ptm-color-h1234);
  cursor: pointer;
}
.box div.badge a:hover {
  color: var(--ptm-color-anchor-hover);
}
/* Top Btn */
.top-btn {
  all: unset;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.top-btn:hover {
  color: var(--ptm-color-anchor-hover);
}
/* TABLE */
.table_wrapper {
  display: flex;
  padding: 18px;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}
.table_wrapper h3 {
  font-size: clamp(1.18rem, 1.0313rem + 0.6916vw, 1.55rem);
  font-weight: 600;
  border-bottom: var(--ptm-border);
  color: var(--ptm-color-header);
  padding-bottom: 5px;
  margin-bottom: 27px;
}
table,
.table_wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: var(--ptm-border);
  border-radius: 10px;
}
table tr,
.table_wrapper table tr {
  border-bottom: var(--ptm-border);
}
.table_wrapper table tr:nth-child(even) {
  background: var(--ptm-bg2);
}
table tr:nth-child(even) {
  background: var(--ptm-bg2);
}
.table_wrapper table tr:nth-child(odd) {
  background: var(--ptm-bg);
}
table tr:nth-child(odd) {
  background: var(--ptm-bg);
}
.table_wrapper table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}
table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}
.table_wrapper table td {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
table td {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
@media screen and (max-width: 600px) {
  .table_wrapper h3 {
    line-height: 1.8;
  }
  table thead,
  .table_wrapper table thead {
    display: none;
  }
  table tr,
  .table_wrapper table tr {
    border-bottom: 2px solid var(--ptm-color-border);
    display: block;
    margin-bottom: 0.625em;
  }
  table td,
  .table_wrapper table td {
    border-bottom: var(--ptm-border);
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  .table_wrapper table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .table_wrapper table td:last-child {
    border-bottom: 0;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

.theme-btn {
  background: inherit !important;
  border: none;
  color: inherit;
  cursor: pointer;
}
.theme-btn #theme-icon {
  font-size: clamp(1.18rem, calc(1.13rem + 0.24vw), 1.32rem);
  font-weight: 700;
  color: var(--ptm-color-h1234);
}
.theme-btn:hover {
  color: var(--ptm-color-anchor-hover);
}

/* Map Container */
div.map-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div.map-container .top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container {
  display: flex; /* Enables Flexbox on the parent */
  gap: 20px; /* Adds space between columns (optional) */
  padding: var(--ptm-padding);
}

.flex-container .column {
  flex: 1;
  padding: var(--ptm-padding);
}
.column.right {
  align-items: flex-end;
}
.column.left {
  align-items: flex-start;
}
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column; /* Stacks columns on top of each other */
  }
}

select {
  background-color: var(--ptm-bg2); /* Background color */
  border: var(--ptm-border); /* Border style */
  padding: 6px 9px; /* Inner spacing */
  font-size: 16px; /* Text size */
  color: var(--ptm-color-text); /* Text color */
  max-width: 150px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change mouse cursor on hover */
}

#custom-tooltip {
  position: absolute;
  display: none;
  background: var(--ptm-color-primary);
  color: var(--ptm-color-info);
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none; /* Allows interactions with elements underneath */
  z-index: 1000;
}
