---
---

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.section {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 50px;
  color: var(--ptm-color-h1234);
  font-family: var(--ptm-font-orb);
}

/* About */

.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-text {
  flex: 1;
}
.about-text h5 {
  color: var(--ptm-color-h1234);
  font-family: var(--ptm-font-orb);
  margin-bottom: 10px;
}
.about-image {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.about-image img {
  width: 63%;
  height: auto;
  display: block;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}

div.badge {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 7px;
}
div.badge a {
  text-decoration: none;
  color: var(--ptm-color-h1234);
  cursor: pointer;
}
div.badge a:hover {
  color: var(--ptm-color-anchor-hover);
}

/* Hero Section */
.hero {
  padding: 100px 0;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.hero p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 30px;
}
